{% extends "base.html" %}

 {% block page_content %}
<div id="wrapper" class="container">
    <!-- La manera más usual de enviar información a las distintas páginas de nuestra aplicación web es usando formularios HTML5. Es recomendable utilizar el método POST (la información se envía en el cuerpo de la petición) para el envío de información usando formularios, aunque si es necesario también podemos usar el método GET (la información se envía en la URL de la petición). -->
    <form method="POST" action="/login">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <fieldset>
            <legend class="legend"><h4>Login</h4></legend>
            <!--mensaje   -->
            <div class="col-md-12" align="left">
                {% if msj == "ok" %}
                <h4> <span class="label label-warning">Verifique la contraseña</span> </h4>
                {% elif  msj == "mal" %}
                <h4> <span class="label label-warning">Usuario no encontrado</span> </h4>
                {% endif %}

                <!-- esto no va -->
                <!-- {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                  <span style="color:goldenrod;font-weight: bold; "> {{ message }} </span>
                    {% endfor %}
                {% endwith %} -->
            </div>
            <!--usuario-->
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label">{{ form.usu.label }}</label>
                    {{ form.usu(class="form-control") }}
                    {% for message in form.usu.errors %}
                         <span style="color:goldenrod;"> {{ message }} </span>
                    {% endfor %}
                    <br>
                </div>
            </div>
            <!--password-->
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label">{{ form.passw.label }}</label>
                    {{ form.passw(class="form-control") }}
                    {% for message in form.passw.errors %}
                         <span style="color:goldenrod;"> {{ message }} </span>
                    {% endfor %}
                    <br>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form.submit(class="btn btn-lg btn-block")}}
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
